SendMessages/Connected Services/Outside/Process2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://paulfarry/gatewayservice" elementFormDefault="qualified" targetNamespace="http://paulfarry/gatewayservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://outside/Process.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rabbit.Core" />
  <xs:element name="Alert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Rabbit.Core" minOccurs="0" name="request" nillable="true" type="q1:AlertRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Rabbit.Core" minOccurs="0" name="AlertResult" nillable="true" type="q2:AlertResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Rabbit.Core" minOccurs="0" name="request" nillable="true" type="q3:LocationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Rabbit.Core" minOccurs="0" name="LocationUpdateResult" nillable="true" type="q4:LocationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>