SendMessages/Connected Services/Outside/Process1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rabbit.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rabbit.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlertRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Arrived" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertRequest" nillable="true" type="tns:AlertRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="AlertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertResponse" nillable="true" type="tns:AlertResponse" />
  <xs:complexType name="LocationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
          <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocationRequest" nillable="true" type="tns:LocationRequest" />
  <xs:complexType name="LocationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationResponse" nillable="true" type="tns:LocationResponse" />
</xs:schema>