SendMessages/Connected Services/Outside/Process.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://paulfarry/gatewayservice" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://paulfarry/gatewayservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://paulfarry/gatewayservice/Imports">
      <xsd:import schemaLocation="http://outside/Process.svc?xsd=xsd0" namespace="http://paulfarry/gatewayservice" />
      <xsd:import schemaLocation="http://outside/Process.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://outside/Process.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Rabbit.Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GatewayService_Alert_InputMessage">
    <wsdl:part name="parameters" element="tns:Alert" />
  </wsdl:message>
  <wsdl:message name="GatewayService_Alert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlertResponse" />
  </wsdl:message>
  <wsdl:message name="GatewayService_LocationUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:LocationUpdate" />
  </wsdl:message>
  <wsdl:message name="GatewayService_LocationUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocationUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="GatewayService">
    <wsdl:operation name="Alert">
      <wsdl:input wsaw:Action="http://paulfarry/gatewayservice/GatewayService/Alert" message="tns:GatewayService_Alert_InputMessage" />
      <wsdl:output wsaw:Action="http://paulfarry/gatewayservice/GatewayService/AlertResponse" message="tns:GatewayService_Alert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocationUpdate">
      <wsdl:input wsaw:Action="http://paulfarry/gatewayservice/GatewayService/LocationUpdate" message="tns:GatewayService_LocationUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://paulfarry/gatewayservice/GatewayService/LocationUpdateResponse" message="tns:GatewayService_LocationUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>